/* General Styles */
body {

    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color:  hsl(180, 29%, 50%);
    color: white;
    padding: 20px;
    text-align: center;
}
#job-listings{
    background-color: hsl(180, 40%, 69%);
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;

}
.job-listing .job-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
    margin-top: 10px;
}
.job-listing .job-tags span{
    background: #eef6f6;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
.job-listing .job-tags span:hover{
    background: #c8e2e2;
}
.job-listing .job-info{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
    margin-left: 5rem;
}
.job-listing .position{
    margin-left: 5rem;
}
.job-listing .company{
    font-weight: bold;
    margin-right: 10px;
    color: #2ae2e2;
    padding-left: 1rem;
}
.job-listing .new, .featured{
    background: #5ba4a4;
    color: white;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 0.8em;
    margin-right: 10px;
}
.job-listing .featured{
    background: #2c3a3a;
}
.job-listing .position{
    font-size: 1.2em;
}
.job-listing .job-info{
    color: gray;
    font-size: 0.9em;
}
.job-listing .job-info span{
    margin-right: 15px;
}
.job-listing .new, .featured{
    background: #5ba4a4;
    color: white;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 0.8em;
    margin-right: 10px;
    cursor: pointer;
}
#clear {
    display: none;
}
.job-listing .job-header img{
    width: 7%;
}
h1 {
    margin: 0;
}
.job-listing .job-tags span{
    background-color: hsl(180, 61%, 78%);

}
#filter-container {
    display:flex;
    /* flex-direction:row; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter {
    background: #2ae2e2;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
}

.filter:hover {
    background: #2c9696;
}

.job-listing {
    background: rgba(255, 255, 255, 0.89);
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    height: 35vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.display{
    display:flex;
    flex-direction:row;
}
.job-listing .job-info{
    display:flex;
    flex-direction:row;
    gap: 1rem;
    align-items:center;
    margin: 10px 0;
    padding: 5px;
margin-left: 5rem;
}
 .job-header {
     display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 0rem;
    
} 
.job-listing .position{
    margin-left: 5rem;

}

.company {
    font-weight: bold;
    margin-right: 10px;
}

.new, .featured {
    background: #5ba4a4;
    color: white;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 0.8em;
    margin-right: 10px;
}

.featured {
    background: #2c3a3a;
}

.position {
    font-size: 1.2em;

}
.language,.level,.role,.tool
{
    color:rgb(39, 128, 134);
}

.job-info {
    color: gray;
    font-size: 0.9em;
}

.job-info span {
    margin-right: 15px;
}

.job-tags {
    display: flex;
    flex-direction:row;

    flex-wrap: wrap;
    margin-top: 10px;
}

.job-tags span {
    background: #71c7c7;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.job-tags span:hover {
    background: #e2c8d5;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Queries to my code */
@media only screen and (max-width: 375px) {
    *{
        font-size: 1rem;
        
        border: 0;
    }
    .job-listing {
        width: 89%;
    }
    .job-listing .position{
        margin-left: 0rem;
    
    }
    .job-listing .job-info{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        margin: 10px 0;
        padding: 5px;
        margin-top: 1rem;
        margin-left: 0;
    }
    .job-listing .position{
        margin-left: 0rem;
    }
    .job-listing .job-tags {
        width: 5.5rem;
    
    }
}
@media only screen and (max-width: 425px) {
    .job-listing {
        width: 89%;
    }
}
@media (max-width: 1024px) {
    .job-listing {
        width: 89%;
    }
}
  